* {
    box-sizing: border-box;
}

.sidebar {
    background-color: #393E46;
    left: 0;
    top: 0;
    position: absolute; 
    max-height: fit-content;
    max-width: fit-content;
    padding-left: 0;
    margin-left: 0;
}

.sidebar ul {
    margin: auto 0;
    padding-left: 0px;
    list-style: none;
}

.sidebar li {
    padding: 20px;
    transition-duration: 0.5s;
}

.sidebar li:hover {
    padding-right: 0;
    background-color: #F96D00;
}

.sidebar a {
    display: block;
    padding: 8px 10px;
    width: 100%;
    margin: 10px auto;
    text-decoration: none;
    color: #F2F2F2;
    text-align: center;
}

.sidebar img {
    margin: 1% 5% 1% 5%;
    padding: 1%;
    max-width: 90%;
}